<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>
Blog dla Rolnika
</title>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link href="media/font-awesome-4.2.0/css/font-awesome.min.css" id="fontawesome" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="media/css/2435745617-widget_css_bundle.css">
<link type="text/css" rel="stylesheet" href="media/css/css.css">
<style>#map-canvas{width: 500px;height: 400px;}</style>
<link type="text/css" rel="stylesheet" href="media/css/style.css">
    <style>
        .header-wrapper {
            background-image: url("media/img/owies.jpg");
            height: 50vh;
            display: inline-block;
            float: left;
            width: 100%;
            border-bottom: 1px solid #eaeaea;
            background-size: cover;
            background-position: right;
        }
        .sidebar .widget {
        border-radius: 1px;
        box-shadow: rgb(0, 0, 0) 1px 1px 10px -5px;
        -webkit-box-shadow: rgb(0, 0, 0) 1px 1px 10px -5px;
        background:url(media/img/sep.png) top repeat-x white;
        clear: both;
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 60px;
        padding:20px;
    }
    </style>
<style type="text/css">
.post-body img{ height: auto; }
</style>



</head>
<!--<body>-->
<body><div id="StayFocusd-infobar" style="display: none; top: 0px;">
    <img src="chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png">
    <span id="StayFocusd-infobar-msg"></span>
    <span id="StayFocusd-infobar-links">
        <a id="StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a id="StayFocusd-infobar-hide">hide once</a>
    </span>
</div>
<header id="blog_header">

<div class="header-wrapper">
<div class="ct-wrapper">
<div class="header section" id="header"><div class="widget Header" id="Header1">
<div id="header-inner">

        <p style="
    font-family: Merriweather; color:  #ffffff; font-size: 70px; font-weight: 700;
    ">
        Prawo dla Rolnika
    </p>

    <p style="
    font-family: Merriweather; color:  #ffffff; font-size: 40px; font-weight: 300;
">Blog Urszuli Szefler</p>

    </div>
</div></div>
</div>
</div>
<div class="clr"></div>
<div class="blog_nav_wrapper section" id="blog_nav_wrapper"><div class="widget HTML" id="HTML13">
<div class="ct-wrapper">
<div class="mobile-link">
<a><i class="fa fa-bars"></i></a>
</div>
<div class="nav-menu">
<ul>
<li><a class="current" href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'about' %}">O blogu</a></li>
<li><a href="{% url 'author' %}">Autorka</a></li>
<li><a href="{% url 'contact' %}">Kontakt</a></li>
</ul>
<div class="clr"></div>
</div>
</div>
</div></div>
</header>
<div class="ct-wrapper">
<div class="outer-wrapper">
<div class="main-wrapper">
<div class="content section" id="content"><div class="widget Blog" id="Blog1">
<div class="blog_posts hfeed">
<!-- google_ad_section_start(name=default) -->

{% block content %}{% endblock %}

</div>
<!-- google_ad_section_end -->
</div>
{% block paginator %}{% endblock %}
<div class="clear"></div>
</div></div>
</div><!-- /main-wrapper -->
<div class="sidebar-wrapper">
<div class="sidebar section" id="sidebar"><div class="widget PopularPosts" id="PopularPosts1">
<h2><span>Popularne posty</span></h2>
<div class="widget-content popular-posts">

{% if top_posts %}
{% for top_post in top_posts %}
<ul>
<li>
<div class="item-content">

<div class="item-title"><a href="article/{{top_post.pk }}">{{ top_post.title }}</a></div>
<div class="item-snippet">{{ top_post.content }}</div>
</div>
<div style="clear: both;"></div>
</ul>
{% endfor %}
{% endif %}
</div>
</div><div class="widget Label" id="Label2">
<h2><span>Kategorie</span></h2>
<div class="widget-content list-label-widget-content">
<ul>
{% if tags %}
{% for tag in tags %}
<li>
<a dir="ltr" href="/?tags={{tag.title}}">{{tag.title}}</a>
</li>
{% endfor %}
{% endif %}
</ul>
</div>
</div></div>
</div><!-- /sidebar-wrapper -->
<div class="clr"></div>
</div><!-- /outer-wrapper -->
</div>
<!-- footer -->
<div class="footer_credits">
<div class="ct-wrapper">
<!-- scripts -->

<div class="clr"></div>
<p>Copyright © 2015 <a href="#">Urszula Szefler</a></p>
<p class="attribution">Designed by <a id="attri_bution" href="#">Przemysław Jan Pietrzak</a></p>
</div>
</div>
<script type="text/javascript" src="media/js/jquery.min.js"></script>
<script type="text/javascript">
  /*<![CDATA[*/
    var postperpage=5;
    var numshowpage=2;
    var upPageWord ='Â« Previous Page';
    var downPageWord ='Next Page Â»';
    var urlactivepage=location.href;
    var home_page="/";
  /*]]>*/
</script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var myLatlng = new google.maps.LatLng(52.4111926,16.9260464,17);
        var mapOptions = {
          center: new google.maps.LatLng(52.4111926, 16.9260464,17),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Kancelaria Radcy Prawnego Urszula Szefler'
          });


      }
      google.maps.event.addDomListener(window, 'load', initialize);

</script>
</body>
</html>
