{% extends 'base.html' %}
{% block content %}


{% if posts %}
{% for post in posts %}
<div class="post-outer">
<div class="post_hentry grid_item">
<div class="post-body entry-content" id="post-body-2141782714140285451">
<div id="p2141782714140285451">
    <div class="isobrick-inner article_cont">
        <div class="clr"></div>
        <div class="article_summary">
            <div class="article_date">
                <i class="fa fa-bookmark">

                </i>
                <span class="day">{{post.data}}</span>
            </div>
            <div class="article_badge">
            <a href="#" rel="tag">
                {{ post.thema.title }}
            </a>

        </div>
            <div class="clr">

            </div>
            <h2 class="article_title title">
                <span>
                    <a href="#" title="title">
                        {{ post.title }}
                    </a>
                </span>
            </h2>
            <div class="article_excerpt">
                <p>
                    {{post.content | slice:":1000" | safe}}
                </p>
            </div>
            <div class="clr">

            </div>
            <div class="article_entry-footer">
                <div class="meta-item">
                    <a class="read_more_button" href="#">
                        Więcej
                    </a>
                </div>
                <div class="meta-item meta-item-share">
                    <div class="soc_sharing">

                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
</div>
</div>
</div>

{% endfor %}
{% endif %}
{% endblock %}