<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PyTrening - Alchemy</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{{ MEDIA_URL }}py/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ MEDIA_URL }}py/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ MEDIA_URL }}py/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">PyLadies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
                    <li class="page-scroll">
                        <a href="#step1">Zadanie 1</a>
                    </li>

                    <li class="page-scroll">
                        <a href="#step2">Zadanie 2</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#step3">Zadanie 3</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#step4">Zadanie 4</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#step5">Zadanie 5</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{ MEDIA_URL }}py/img/alchemy.png" alt="">
                    <div class="intro-text">
                        <span class="name">PyTrening z PyLadies #3.1</span>
                        <hr class="star-light">
                        <span class="skills">Alchemy, czyli bazy danych bez SQLa</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#request" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#sql" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ MEDIA_URL }}py/img/logo.jpg" class="img-responsive" alt="">
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <a href="#forms" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- step1 -->
    <section class="success" id="step1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zadanie 1</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>
                        Dodaj do swojej bazy ulubionego reżysera <br>
                        Następnie dodaj dowolny film tego reżysera <br>

                        Ciekawostka: Urodzony w 1950r reżyser John Landis w 1980 nakręcił musical Blues Brothers
                    </p>
                </div>

                 <div class="col-lg-9 col-lg-offset-2">
                    <p>
                        W plikach <a href="{{MEDIA_URL}}py/files/directors.py" download style="color:white;">movies.py</a> i <a href="{{MEDIA_URL}}py/files/movies.py" style="color:white;" download>directors.py</a> znajduje się lista filmów i reżyserów. <br>
                        Pobierz je do folderu w którym znajduje się Twój skrypt<br>
                        Zaimportuj obie listy (np from movies import movies)<br>
                        A teraz napisz funkcję która doda reżyserów do bazy (wszystkich)<br>
                        Teraz dodaj fillmy, pamiętaj że każdy film ma reżysera którego trzeba z nim połączyć
                    </p>
                </div>

               
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>

<!-- step1 -->
    <section class="success white" id="step2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zadanie 2</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>
                        Usuń z bazy film Django Unchained ... bo tak.
                    </p>
                </div>
           
                
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>

        <!-- About Section -->
    <section class="success" id="step3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zadanie 3 - Wyszukiwanie </h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>

                        Znajdź wszystkie dramaty <br>
                        Znajdź wszystkie filmy wyprodukowane w latach parzystych <br/>
                        Znajdź wyszukaj wszystkie filmy Stanleya Kubricka <br>
                        Znajdź wszystkie dramaty  wyprodukowane w latach nieparzystych <br>

                    </p>
                </div>

                

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>

    

    <section class="success white" id="step4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zadanie 4 Sortowanie</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>
                        Wyświetl wszystkie filmy w chronologicznej kolejności <br>
                        Wyświetl najstarszych żyjących reżyserów <br>
                        Wyświetl reżyserów posortowanych względem ilości fimów <br>
                    </p>
                </div>

                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>

    <section class="success hard" id="step5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Zadanie 5 </h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                    <p>
                        Znajdź wszystkich reżyserów którzy żyją ponad 3285000000 sekund :D
                    </p>
                </div>


                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Hint
                    </a>
                </div>
            </div>
        </div>
    </section>

   


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Przemysław Pietrzak
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="sql" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jak działa request?</h2>
                            <hr class="star-primary">
                            <p class='code-txt'>Stwórzcie plik z rozszerzeniem .py a następnie wklejcie do niego poniższy kod:</p>
                            <span class="code">
                                import os<br><br>

                                from flask import Flask <br>
                                from flask.ext.sqlalchemy import SQLAlchemy<br><br>

                                basedir = os.path.abspath(os.path.dirname(__file__))<br><br>

                                app = Flask(__name__)<br>
                                app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///' + os.path.join(basedir, 'app.db')<br>
                                db = SQLAlchemy(app)<br><br>

                                class Director(db.Model):<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;id = db.Column(db.Integer, primary_key=True)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;name = db.Column(db.String(80))<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;year_of_birth = db.Column(db.Integer)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;alive = db.Column(db.Boolean(create_constraint=True, name=None))<br><br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;def __repr__(self):<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return '&#60;Director: %s&#62;' % self.name<br><br>

                                class Movie(db.Model):<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;id = db.Column(db.Integer, primary_key=True)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;title = db.Column(db.String(80), unique=True)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;type = db.Column(db.String(80))<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;director_id = db.Column(db.Integer, db.ForeignKey(Director.id), primary_key=True)<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;year_created = db.Column(db.Integer)<br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;director = db.relationship('Director', foreign_keys='Movie.director_id')<br><br>

                                    &nbsp;&nbsp;&nbsp;&nbsp;def __repr__(self):<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return '&#60;Movie: %s&#62;' % self.title<br>



                            </span>
                            <p  class='code-txt'>Następnie otwórzzcie konsolę, otwórzcie Pythona.
                                <br>
                            </p>
                            <span class="code">
                                 >>> from your_file_name import db, Movie, Director<br>
                                 >>> db.create_all()<br>
                            </span>
                            <p  class='code-txt'>Właśnie stworzyliście bazę danych ze szkieletem</p>

                            <p class='code-txt'>Czas wypełnić ją danymi!</p>

                            <span class="code">
                                 new_director = Director(name='Terry Jones', year_of_birth=1942, alive=True)<br>
                                 db.session.add(new_director)<br>
                                 db.session.commmit()<br>
                            </span>

                            <p class='code-txt'>usuwanie filmów:</p>
                            <span class="code">

                                 db.session.delete(new_director)<br>
                                 db.session.commmit()<br>
                            </span>

                            <p class='code-txt'>wyszukiwanie:</p>
                            <span class="code">
                                 Director.query.filter(Director.name == 'Terry Jones', Director.year_of_birth <= 1950).all()
                            </span>

                             <p class='code-txt'>Sortowanie:</p>
                            <span class="code">
                                 Director.query.filter(Director.year_of_birth <= 1950).order_by(Director.name).all()
                            </span>
                            <p class='code-txt'>Odwrotnie:</p>
                            <span class="code">
                                 from sqlalchemy import desc
                                 Director.query.filter(Director.year_of_birth <= 1950).order_by(desc(Director.name)).all()
                            </span>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="{{ MEDIA_URL }}py/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ MEDIA_URL }}py/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ MEDIA_URL }}py/js/jqBootstrapValidation.js"></script>
    <script src="{{ MEDIA_URL }}py/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ MEDIA_URL }}py/js/freelancer.js"></script>

</body>

</html>
